#game_canvas {
    height: calc(100vmin - 40px);
    max-height: calc(100vh - 40px);
    width: calc(100vmin - 40px);
    max-width: calc(100vmin - 40px);
    margin: 10px auto;
    display: block;
}

body {
    background-color: #44b323;
}